In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

23/07/09 22:58:18 WARN Utils: Your hostname, Benhards-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.14 instead (on interface en0)
23/07/09 22:58:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/09 22:58:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/09 22:58:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
spark

In [12]:
#Read the dataset
df_pyspark = spark.read.option('header','true').csv('data.csv', inferSchema = True)
#inferSchema argument is to make sure the schema does not end up in all string form

In [13]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [28]:
df_pyspark = spark.read.csv('data.csv', header = True, inferSchema = True)
df_pyspark.show()
df_pyspark.printSchema()
#Same as before, different syntax

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Michael| 21|        10|
|  Karen| 22|         8|
| Jessie| 20|         4|
+-------+---+----------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [29]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.columns
#Show the columns in a dataframe
df_pyspark.head(3)
#Show first 3 rows

[Row(Name='Michael', Age=21, Experience=10),
 Row(Name='Karen', Age=22, Experience=8),
 Row(Name='Jessie', Age=20, Experience=4)]

In [34]:
df_pyspark.select('Name').show()
#Show only the 'Name' column
df_pyspark.select(['Name','Experience']).show()
#Show 'Name' and 'Experience' column

+-------+
|   Name|
+-------+
|Michael|
|  Karen|
| Jessie|
+-------+

+-------+----------+
|   Name|Experience|
+-------+----------+
|Michael|        10|
|  Karen|         8|
| Jessie|         4|
+-------+----------+

In [36]:
df_pyspark.dtypes
#Show types of data in each column

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [39]:
df_pyspark.describe().show()

+-------+-------+----+-----------------+
|summary|   Name| Age|       Experience|
+-------+-------+----+-----------------+
|  count|      3|   3|                3|
|   mean|   null|21.0|7.333333333333333|
| stddev|   null| 1.0|3.055050463303893|
|    min| Jessie|  20|                4|
|    max|Michael|  22|               10|
+-------+-------+----+-----------------+

In [42]:
#Adding column
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)
df_pyspark.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 Years|
+-------+---+----------+------------------------+
|Michael| 21|        10|                      12|
|  Karen| 22|         8|                      10|
| Jessie| 20|         4|                       6|
+-------+---+----------+------------------------+

In [43]:
#Dropping columns
df_pyspark = df_pyspark.drop('Experience After 2 years')
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Michael| 21|        10|
|  Karen| 22|         8|
| Jessie| 20|         4|
+-------+---+----------+

In [44]:
#Renaming columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
| Michael| 21|        10|
|   Karen| 22|         8|
|  Jessie| 20|         4|
+--------+---+----------+