In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.8 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 3.8 MB/s eta 0:00:00a 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=a690804f49997305bd2a602df75bb9f5ad5df5761aa1161ca642eca76c8b08dd
  Stored in directory: /Users/michaelbenhard/Library/Caches/pip/wheels/e9/b4/d8/38accc42606f6675165423e9f0236f8e825f6b6b6048d6743e
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.4.1

In [2]:
import pyspark

In [13]:
import pandas as pd
pd.read_csv('data.csv')

     Name   Age
0  Michael   21
1    Karen   22
2   Jessie   20

In [14]:
from pyspark.sql import SparkSession

In [15]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [16]:
spark

In [25]:
df_pyspark = spark.read.csv('data.csv')
df_pyspark
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|  Name |Age|
|Michael| 21|
|  Karen| 22|
| Jessie| 20|
+-------+---+

In [27]:
df_pyspark = spark.read.option('header','true').csv('data.csv')
#Labels the first line of the csv as the header

In [28]:
type(df_pyspark)
# Show what type of object

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.head(3)
#Shows the first x amount of rows

[Row(Name ='Michael', Age='21'),
 Row(Name ='Karen', Age='22'),
 Row(Name ='Jessie', Age='20')]

In [32]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)