In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/10 07:26:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [12]:
df_pyspark = spark.read.csv('data.csv', header = True, inferSchema = True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Michael| 21|        10| 30000|
|  Karen| 22|         8|250000|
| Jessie| 20|         4| 20000|
|   Jean| 24|         3| 20000|
|   Paul| 21|         1|150000|
|  Jones| 23|         2|180000|
+-------+---+----------+------+

In [16]:
#Filter Operation: Salary of the people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show()
df_pyspark.filter('Salary<=20000').select(['Name','Age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Jessie| 20|         4| 20000|
|  Jean| 24|         3| 20000|
+------+---+----------+------+

+------+---+
|  Name|Age|
+------+---+
|Jessie| 20|
|  Jean| 24|
+------+---+

In [17]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Jessie| 20|         4| 20000|
|  Jean| 24|         3| 20000|
+------+---+----------+------+

In [19]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Jessie| 20|         4| 20000|
|  Jean| 24|         3| 20000|
+------+---+----------+------+

In [20]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Michael| 21|        10| 30000|
|  Karen| 22|         8|250000|
|   Paul| 21|         1|150000|
|  Jones| 23|         2|180000|
+-------+---+----------+------+