In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
df_pyspark = spark.read.csv('data.csv', header = True, inferSchema = True)

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departement: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
#GroupBy
df_pyspark.groupBy('Name').sum().show()

+-------+-----------+
|   Name|sum(Salary)|
+-------+-----------+
|  Jones|      20000|
|   Jack|      10000|
| Jessie|       7000|
|Michael|      15000|
| Julian|      10000|
|  Karen|       9000|
+-------+-----------+

In [17]:
#Groupby Departement whcih gives maximum salary
df_pyspark.groupBy('Departement').sum().show()
df_pyspark.groupBy('Departement').mean().show()
df_pyspark.groupBy('Departement').count().show()

+------------+-----------+
| Departement|sum(Salary)|
+------------+-----------+
|     Nursing|      40000|
|Data Science|      20000|
|     Biology|      11000|
+------------+-----------+

+------------+------------------+
| Departement|       avg(Salary)|
+------------+------------------+
|     Nursing|           10000.0|
|Data Science|           10000.0|
|     Biology|3666.6666666666665|
+------------+------------------+

+------------+-----+
| Departement|count|
+------------+-----+
|     Nursing|    4|
|Data Science|    2|
|     Biology|    3|
+------------+-----+

In [18]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      71000|
+-----------+